@font-face {
font-family: 'BRoya';
src: url('../TP-Fonts/BRoya/BRoya.eot?#') format('eot'),
url('../TP-Fonts/BRoya/BRoya.ttf') format('truetype'),
url('../TP-Fonts/BRoya/BRoya.woff') format('woff');
}
@font-face {
font-family: 'BYekan';
src: url('../TP-Fonts/BYekan/BYekan.eot?#') format('eot'),
url('../TP-Fonts/BYekan/BYekan.ttf') format('truetype'),
url('../TP-Fonts/BYekan/BYekan.woff') format('woff');
}
@font-face {
font-family: 'BZiba';
src: url('../TP-Fonts/BZiba/BZiba.eot?#') format('eot'),
url('../TP-Fonts/BZiba/BZiba.ttf') format('truetype'),
url('../TP-Fonts/BZiba/BZiba.woff') format('woff');
}