
@{
    ViewBag.Title = "Index";
}

<!-- portfolio section
                ================================================== -->
<div class="portfolio triggerAnimation animated" data-animate="fadeInRightBig">

    <div class="portfolio-box col3">
        <div class="project-post">
            <img src="~/upload/portfolio/1.jpg" alt="">
            <div class="hover-box">
                <a class="zoom" href="~/upload/portfolio/1.jpg"><i class="fa fa-eye"></i></a>
            </div>
        </div>
        <div class="project-post">
            <img src="~/upload/portfolio/2.jpg" alt="">
            <div class="hover-box">
                <a class="zoom" href="~/upload/portfolio/2.jpg"><i class="fa fa-eye"></i></a>
            </div>
        </div>
        <div class="project-post">
            <img src="~/upload/portfolio/3.jpg" alt="">
            <div class="hover-box">
                <a class="zoom" href="~/upload/portfolio/3.jpg"><i class="fa fa-eye"></i></a>
            </div>
        </div>
        <div class="project-post">
            <img src="~/upload/portfolio/4.jpg" alt="">
            <div class="hover-box">
                <a class="zoom" href="~/upload/portfolio/4.jpg"><i class="fa fa-eye"></i></a>
            </div>
        </div>
        <div class="project-post">
            <img src="~/upload/portfolio/5.jpg" alt="">
            <div class="hover-box">
                <a class="zoom" href="~/upload/portfolio/5.jpg"><i class="fa fa-eye"></i></a>
            </div>
        </div>
        <div class="project-post">
            <img src="~/upload/portfolio/6.jpg" alt="">
            <div class="hover-box">
                <a class="zoom" href="~/upload/portfolio/6.jpg"><i class="fa fa-eye"></i></a>
            </div>
        </div>
        <div class="project-post">
            <img src="~/upload/portfolio/7.jpg" alt="">
            <div class="hover-box">
                <a class="zoom" href="~/upload/portfolio/7.jpg"><i class="fa fa-eye"></i></a>
            </div>
        </div>
        <div class="project-post">
            <img src="~/upload/portfolio/8.jpg" alt="">
            <div class="hover-box">
                <a class="zoom" href="~/upload/portfolio/8.jpg"><i class="fa fa-eye"></i></a>
            </div>
        </div>
        <div class="project-post">
            <img src="~/upload/portfolio/9.jpg" alt="">
            <div class="hover-box">
                <a class="zoom" href="~/upload/portfolio/9.jpg"><i class="fa fa-eye"></i></a>
            </div>
        </div>
        <div class="project-post">
            <img src="~/upload/portfolio/10.jpg" alt="">
            <div class="hover-box">
                <a class="zoom" href="~/upload/portfolio/10.jpg"><i class="fa fa-eye"></i></a>
            </div>
        </div>
        <div class="project-post">
            <img src="~/upload/portfolio/11.jpg" alt="">
            <div class="hover-box">
                <a class="zoom" href="~/upload/portfolio/11.jpg"><i class="fa fa-eye"></i></a>
            </div>
        </div>
        <div class="project-post">
            <img src="~/upload/portfolio/12.jpg" alt="">
            <div class="hover-box">
                <a class="zoom" href="~/upload/portfolio/12.jpg"><i class="fa fa-eye"></i></a>
            </div>
        </div>
        <div class="project-post">
            <img src="~/upload/portfolio/13.jpg" alt="">
            <div class="hover-box">
                <a class="zoom" href="~/upload/portfolio/13.jpg"><i class="fa fa-eye"></i></a>
            </div>
        </div>
        <div class="project-post">
            <img src="~/upload/portfolio/14.jpg" alt="">
            <div class="hover-box">
                <a class="zoom" href="~/upload/portfolio/14.jpg"><i class="fa fa-eye"></i></a>
            </div>
        </div>
        <div class="project-post">
            <img src="~/upload/portfolio/15.jpg" alt="">
            <div class="hover-box">
                <a class="zoom" href="~/upload/portfolio/15.jpg"><i class="fa fa-eye"></i></a>
            </div>
        </div>
    </div>
</div>
<!-- End portfolio section -->
<!-- pagination list
    ================================================== -->
<ul class="pagination-list">
    <li><a class="active" href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
</ul>
<!-- End pagination list -->