<!-- team section
    ================================================== -->
<div class="box-section team-section triggerAnimation animated" data-animate="slideInRight">
    <div class="row">
        <div class="col-md-6">
            <div class="team-post">
                <div class="left-part">
                    <img alt="" src="~/upload/member11.jpg">
                </div>
                <div class="right-part">
                    <h3>امیرحسین خادمی</h3>
                    <ul class="contact-info">
                        <li>
                            <i class="fa fa-graduation-cap"></i> لیسانس
                        </li>
                        <li>
                            <i class="fa fa-map-marker "></i> مشهد
                        </li>
                    </ul>
                    <a href="@Url.Action("Check", null, new { area = string.Empty, controller = "JobSeeker", id=1 }, Request.Url.Scheme)">جزئیات</a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="team-post">
                <div class="left-part">
                    <img alt="" src="~/upload/member2.jpg">

                </div>
                <div class="right-part">
                    <h3>فرزانه اکبری</h3>
                    <ul class="contact-info">
                        <li>
                            <i class="fa fa-graduation-cap"></i> لیسانس
                        </li>
                        <li>
                            <i class="fa fa-map-marker "></i> مشهد
                        </li>
                    </ul>
                    <a href="#">جزئیات</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="team-post">
                <div class="left-part">
                    <img alt="" src="~/upload/member3.jpg">

                </div>
                <div class="right-part">
                    <h3>سارا قضاوی</h3>
                    <ul class="contact-info">
                        <li>
                            <i class="fa fa-graduation-cap"></i> لیسانس
                        </li>
                        <li>
                            <i class="fa fa-map-marker "></i> مشهد
                        </li>
                    </ul>
                    <a href="#">جزئیات</a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="team-post">
                <div class="left-part">
                    <img alt="" src="~/upload/member4.jpg">

                </div>
                <div class="right-part">
                    <h3>مهتاب نیکنهاد</h3>
                    <ul class="contact-info">
                        <li>
                            <i class="fa fa-graduation-cap"></i> فوق لیسانس
                        </li>
                        <li>
                            <i class="fa fa-map-marker "></i> مشهد، سی متری
                        </li>
                    </ul>
                    <a href="#">جزئیات</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="team-post">
                <div class="left-part">
                    <img alt="" src="~/upload/member11.jpg">

                </div>
                <div class="right-part">
                    <h3>امیرحسین خادمی</h3>
                    <ul class="contact-info">
                        <li>
                            <i class="fa fa-graduation-cap"></i> دیپلم
                        </li>
                        <li>
                            <i class="fa fa-map-marker "></i> مشهد
                        </li>
                    </ul>
                    <a href="#">جزئیات</a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="team-post">
                <div class="left-part">
                    <img alt="" src="~/upload/member2.jpg">

                </div>
                <div class="right-part">
                    <h3>فرزانه اکبری</h3>
                    <ul class="contact-info">
                        <li>
                            <i class="fa fa-graduation-cap"></i> لیسانس
                        </li>
                        <li>
                            <i class="fa fa-map-marker "></i> مشهد
                        </li>
                    </ul>
                    <a href="#">جزئیات</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="team-post">
                <div class="left-part">
                    <img alt="" src="~/upload/member3.jpg">

                </div>
                <div class="right-part">
                    <h3>سارا قضاوی</h3>
                    <ul class="contact-info">
                        <li>
                            <i class="fa fa-graduation-cap"></i> لیسانس
                        </li>
                        <li>
                            <i class="fa fa-map-marker "></i> مشهد
                        </li>
                    </ul>
                    <a href="#">جزئیات</a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="team-post">
                <div class="left-part">
                    <img alt="" src="~/upload/member4.jpg">

                </div>
                <div class="right-part">
                    <h3>مهتاب نیکنهاد</h3>
                    <ul class="contact-info">
                        <li>
                            <i class="fa fa-graduation-cap"></i> لیسانس
                        </li>
                        <li>
                            <i class="fa fa-map-marker "></i> مشهد
                        </li>
                    </ul>
                    <a href="#">جزئیات</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End team section -->
