
@{
    ViewBag.Title = "Check";
}

<!-- single post section
                ================================================== -->
<div class="single-post triggerAnimation animated" data-animate="flipInY">
    <div class="single-post-content">

        <ul class="post-tags">
            <li>
                <i class="fa fa-calendar-o"></i>
                <span>13 دی</span>
            </li>
        </ul>

        <div class="alert alert-info">
            کارفرما گرامی اگر عضو سایت هستید میتوانید اطلاعات تماس کارجو مورد نظر را دریافت کنید .از طریق پیامک و یا ایمیل .بر روی ایکن مورد نظر کلیک کنید.
        </div>
        <div class="team-section">
            <div class="team-post">
                <div class="left-part" style="max-width:160px;">
                    <img alt="" src="~/upload/member11.jpg">
                </div>
                <div class="right-part">
                    <h3><strong>کد کارجویی:</strong> <span class="label label-default">50160</span></h3>
                    <ul class="contact-info">
                        <li>
                            <i class="fa fa-check"></i> امیرحسین خادمی
                        </li>
                        <li>
                            <i class="fa fa-check"></i> <strong>تاریخ تولد: </strong> <span>1367/5/24</span>
                        </li>
                        <li>
                            <i class="fa fa-check"></i> <strong>آدرس: </strong> <span>خراسان رضوی، مشهد</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="panel-group">
            <div class="panel panel-primary" style="margin-bottom:10px;">
                <div class="panel-heading">توضیحات</div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <tbody>
                                <tr>
                                    <td class="td-title">دانشگاه ها و موسسات آموزش عالی</td>
                                    <td>کارشناسی مکانیک</td>
                                </tr>
                                <tr>
                                    <td class="td-title">دوره های گذرانده شده</td>
                                    <td>1- آشنا با نرم افزارهای: 1-1- Solidworks 1-2- Abaqus 1-3- Caesar 1-4- Matlab 2- گذراندن دوره Piping در موسسه توسعه فلات قاره. 3- پروانه اشتغال به کار نظارت و طراحی تاسیسات مکانیکی. 4- پروانه اجرای لوله کشی گاز واحد های مسکونی، تجاری و صنعتی. 5- مدرک IELTS با نمره 5/6 6- زبان فرانسه (متوسط)</td>
                                </tr>
                                <tr>
                                    <td class="td-title">تسلط به زبان انگلیسی</td>
                                    <td>عالی</td>
                                </tr>
                                <tr>
                                    <td class="td-title">سایر زبان ها</td>
                                    <td>فرانسه</td>
                                </tr>
                                <tr>
                                    <td class="td-title">سوابق کاری</td>
                                    <td>1- شرکت مهندسی مهد آریا ، شرکت پیمانکاری گاز ( 9/94-6/95) 2- کارخانه مشهد صدرا شرق، تولید کننده لوله، اتصالات و مخازن کامپوزیتی (4/92-12/93). 3- انجام پروژه تحقیقاتی با پژوهشگاه صنایع هوایی(91-92). 4- تدریس دروس تخصصی مکانیک در دانشگاه آزاد اسلامی واحد مشهد (88). 5- ناظر و طراح تاسیسات مکانیکی ساختمان </td>
                                </tr>
                                <tr>
                                    <td class="td-title">دیگر اطلاعات کارجو</td>
                                    <td>2 سال سابقه دارد </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="text-center">
                    <button type="button" class="btn btn-danger">
                        <span class="fa fa-paper-plane"></span> پیامک
                    </button>
                    <button type="button" class="btn btn-danger">
                        <span class="fa fa-envelope"></span> ایمیل
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End single post section -->

