@model IEnumerable<JobSeeker>

@{
    ViewBag.Title = "Index";
}

<!-- search job seeker 
               ================================================== -->
<div class="box-section banner-section triggerAnimation animated rollIn" data-animate="rollIn">
    <form data-toggle="validator" role="form">
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="job-title">عنوان شغلی</label>
                    <input type="text" class="form-control" id="job-title" placeholder="عنوان شغلی" required>
                </div>
                <div class="form-group">
                    <label for="age-range">محدوده سنی</label>
                    <select class="form-control" id="age-range">
                        <option selected>مهم نیست</option>
                        <option>بین 20 تا 25</option>
                        <option>بین 25 تا 30</option>
                        <option>بین 30 تا 35</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="leave-place">منطقه محل سکونت</label>
                    <select class="form-control" id="leave-place">
                        <option selected>مهم نیست</option>
                        <option>پلیس راه</option>
                        <option>وکلی آباد</option>
                        <option>جاده قدیم</option>
                        <option>صدمتری تا سپاد</option>
                        <option>...</option>
                    </select>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="degree-of-education">مدرک تحصیلی</label>
                    <select class="form-control" id="degree-of-education">
                        <option selected>مهم نیست</option>
                        <option>ابتدایی</option>
                        <option>راهنمایی</option>
                        <option>دیپلم</option>
                        <option>کاردانی</option>
                        <option>کارشناسی</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="gender">جنسیت</label>
                    <select class="form-control" id="gender">
                        <option selected>مهم نیست</option>
                        <option>آقا</option>
                        <option>خانم</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="related-work-experience">سابقه کار مرتبط</label>
                    <select class="form-control" id="related-work-experience">
                        <option selected>مهم نیست</option>
                        <option>داشته باشد</option>
                        <option>نداشته باشه</option>
                    </select>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="field-of-study">رشته تحصیلی</label>
                    <input type="text" class="form-control" id="field-of-study" placeholder="رشته تحصیلی" >
                </div>
                <div class="form-group">
                    <label for="marital-status">وضعیت تاهل</label>
                    <select class="form-control" id="marital-status">
                        <option selected>مهم نیست</option>
                        <option>مجرد</option>
                        <option>متاهل</option>
                    </select>
                </div>
                <button id="search-job-seeker" type="submit" class="btn btn-primary">
                    <span class="fa fa-search"></span> جستجو
                </button>
            </div>
        </div>

    </form>
</div>
<!-- end search job seeker -->

@Html.Partial("_SimpleList", Model)

<!-- pagination list
    ================================================== -->
<ul class="pagination-list">
    <li><a class="active" href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
</ul>
<!-- End pagination list -->