
@{
    ViewBag.Title = "Index";
}

<!-- search job
               ================================================== -->
<div class="box-section banner-section triggerAnimation animated rollIn" data-animate="rollIn">
    <form data-toggle="validator" role="form">
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="jobtitle">عنوان شغلی:</label>
                    <input type="text" class="form-control" id="jobtitle" placeholder="عنوان شغلی" required >
                </div>
                <div class="form-group">
                    <label for="leave-place">منطقه محل سکونت:</label>
                    <select class="form-control" id="leave-place">
                        <option value="" selected disabled>لطفا یک گزینه را انتخاب کنید</option>
                        <option>پلیس راه</option>
                        <option>وکیل آباد</option>
                        <option>جاده قدیم</option>
                        <option>صد متری تا سپاد</option>
                        <option>صد متری تا پل فجر</option>
                        <option>صد متری تا میدان بار</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="leave-place">منطقه محل سکونت:</label>
                    <select class="form-control" id="leave-place">
                        <option selected>مهم نیست</option>
                        <option>پلیس راه</option>
                        <option>وکیل آباد</option>
                        <option>جاده قدیم</option>
                        <option>صد متری تا سپاد</option>
                        <option>صد متری تا پل فجر</option>
                        <option>صد متری تا میدان بار</option>
                    </select>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="field-of-activity">زمینه فعالیت:</label>
                    <input type="text" class="form-control" id="field-of-activity" placeholder="زمینه فعالیت">
                </div>
                <div class="form-group">
                    <label for="gender">جنسیت:</label>
                    <select class="form-control" id="gender">
                        <option selected>مهم نیست</option>
                        <option>آقا</option>
                        <option>خانم</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="related-work-experience">سابقه کار مرتبط:</label>
                    <select class="form-control" id="related-work-experience">
                        <option selected>مهم نیست</option>
                        <option>دارم</option>
                        <option>ندارم</option>
                        
                    </select>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="salary">میزان حقوق:</label>
                    <select class="form-control" id="salary">
                        <option selected>مهم نیست</option>
                        <option>کمتر از پایه قانون کار</option>
                        <option>پایه قانون کار</option>
                        <option>قانون کار با مزایا</option>
                        <option>توافقی</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="marital-status">وضعیت تاهل:</label>
                    <select class="form-control" id="marital-status">
                        <option selected>مهم نیست</option>
                        <option>مجرد</option>
                        <option>متاهل</option>
                    </select>
                </div>
                <button id="search-job" type="submit" class="btn btn-primary">
                    <span class="fa fa-search"></span> جستجو
                </button>
            </div>
        </div>
        
    </form>
</div>
<!-- end search job -->
    
@{ 
    Html.RenderPartial("_SimpleList");
}
    
<!-- pagination list
    ================================================== -->
<ul class="pagination-list">
    <li><a class="active" href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
</ul>
<!-- End pagination list -->