@model Apadana.Web.ViewModels.RegisterModel
@{
    ViewBag.Title = "Register";
}

<div class="box-section banner-section triggerAnimation animated rollIn" data-animate="rollIn">
    @Html.ValidationSummary(false)
    <form data-toggle="validator" role="form" action="@Url.Action("Register", "Auth", new { })" method="post">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group has-warning">
                    <label for="name">نام و نام خانوادگی</label>
                    <input type="text" class="form-control" id="name" name="name" placeholder="نام و نام خانوادگی" required>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group has-warning">
                    <label for="mobile">موبایل</label>
                    <input type="text" class="form-control" id="mobile" name="mobile" placeholder="موبایل" required>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <button type="submit" id="register" class="btn btn-danger">ثبت نام</button>
            </div>
        </div>
    </form>
</div>

