
@{
    ViewBag.Title = "ResetPassword";
}
<div class="box-section banner-section triggerAnimation animated rollIn" data-animate="rollIn">
    @Html.ValidationSummary(false)
    <form data-toggle="validator" role="form" action="@Url.Action("ResetPassword", "Auth", new { })" method="post">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group has-warning">
                    <label for="phonenumber">رمز جدید به شماره موبایلتان ارسال خواهد شد</label>
                    <input type="text" class="form-control" id="phonenumber" name="phonenumber" placeholder="موبایل" required>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <button type="submit" id="reset-password" class="btn btn-danger">ارسال رمز</button>
            </div>
        </div>
    </form>
</div>

