@model Apadana.Web.Areas.Employer.ViewModels.ViewModelChangePassword
@{
    ViewBag.Title = "ChangePassword";
}

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>تغییر رمز عبور <small></small></h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <form  method="post" action="@Url.Action("changepassword")" data-ajax="true" data-ajax-method="post" 
                          data-ajax-complete="changePasswordResult" data-ajax-loading=".loading" class="form-horizontal">
                   @*@using(Ajax.BeginForm(null, null, new AjaxOptions
                   {
                       HttpMethod="post",
                       OnComplete = "changePasswordResult",
                       LoadingElementId = "loading"
                   }, new { @class = "form-horizontal" })) {*@
                        <div class="form-group">
                            @Html.LabelFor(x => x.CurrentPassword, new { @class = "col-sm-2 control-label" })
                            @*<label class="col-sm-2 control-label" for="currentpassword">رمز فعلی</label>*@
                            <div class="col-sm-10">@*<input type="password" id="currentpassword" name="currentpassword" class="form-control">*@
                                
                                @Html.PasswordFor(x => x.CurrentPassword, new { @class = "form-control" })
                                @Html.ValidationMessageFor(x => x.CurrentPassword)
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="newpassword">رمز جدید</label>
                            <div class="col-sm-10"><input type="password" id="newpassword" name="newpassword" class="form-control"></div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="confirm">تایید رمز جدید</label>
                            <div class="col-sm-10"><input type="password" id="confirm" name="confirm" class="form-control" 
                                                          data-val-equalto="رمز مورد تایید نیست." data-val-equalto-other="#newpassword"></div>
                        </div>
                        
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-2">
                                <button class="btn btn-primary" type="submit" data-disable-onsubmit="true" value="save" name="action:changepassword">ذخیره</button>
                                <div id="loading" class="loading"></div>
                            </div>
                        </div>
                      @*}*@
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>