
@{
    ViewBag.Title = "Check";
}


<!-- single post section
    ================================================== -->
<div class="single-post triggerAnimation animated" data-animate="flipInY">
    <img src="~/upload/blog/success.jpg" alt="">
    <div class="single-post-content">
        <h1>۷ راهکار تازه کارآفرینی در ایران اعلام شد</h1>
        <ul class="post-tags">
            <li>
                <i class="fa fa-calendar-o"></i>
                <span>10 فروردین</span>
            </li>
            <li>
                <i class="fa fa-user"></i>
                <span>مدیر</span>
            </li>
        </ul>
        <p>ارزیابی شاخص جهانی کارآفرینی در ایران نشان می دهد شاخص درک فرصت های کارآفرینانه در سال قبل بهبود یافته اما ترس از شکست کسب و کار هنوز بالا است؛ با این حال ۷ راهکار برای ایجاد فضای کارآفرینی و توسعه آن ارائه شده است.</p>
        <p>شاخص جهانی کارآفرینی در ایران مورد ارزیابی قرار گرفت. گروه مطالعات محیط کسب و کار مرکز پژوهش های مجلس اعلام کرد: دیده بان جهانی کارآفرینی بزرگ ترین و تخصصی ترین کنسرسیوم دانشگاهی در زمینه پژوهش های کارآفرینی در دنیا است.</p>
        <p>پس از عضویت دانشگاه تهران در این کنسرسیوم، دانشکده کارآفرینی با حمایت مادی و معنوی وزارت تعاون، کار و رفاه اجتماعی و موسسه کار و تامین اجتماعی از سال ۸۷ تاکنون سالیانه برنامه پژوهشی GEMرا همزمان با حداقل ۶۷ کشور عضو این کنسرسیوم اجرا می کند.</p>
        <p>اقتصاد کشورهای عضو GEM بیش از ۹۵ درصد تولید ناخالص جهانی را تشکیل می دهد. در برنامه ۲۰۱۲ GEM ایران از ۳۱۷۸ نفر از جمعیت بزرگسال (۱۸-۶۴ ساله) در ۴۲ شهر کشور نظرسنجی شده است. در این برنامه پژوهشی سه دسته شاخص های ادراک ها و گرایش های کارآفرینانه، فعالیت های کارآفرینانه و اشتیاق کارآفرینانه ارزیابی می شوند.</p>
    </div>
</div>
<!-- End single post section -->
