
@{
    ViewBag.Title = "Index";
}


    <!-- banner section
        ================================================== -->
    <div class="box-section banner-section triggerAnimation animated" data-animate="rollIn">
        <div class="banner">
            <img src="~/upload/banners/2.jpg" alt="">
            <h1><span>نوشته های ما</span></h1>
        </div>
    </div>
    <!-- End banner section -->
    <!-- blog section
    ================================================== -->
    <div class="blog-section col1 triggerAnimation animated" data-animate="fadeInUp">
        <div class="blog-post">
            <div class="post-box">
                <ul class="post-tags">
                    <li>
                        <i class="fa fa-calendar-o"></i>
                        <span>10 فروردین</span>
                    </li>
                    <li>
                        <i class="fa fa-user"></i>
                        <span>مدیر</span>
                    </li>
                </ul>
                <div class="post-gal">
                    <img alt="" src="~/upload/blog/1.jpg">
                    <div class="hover-post">
                        <a href="@Url.Action("Check", null, new { area = string.Empty, controller = "Post", id=1 }, Request.Url.Scheme)">بیشتر بخوانید</a>
                    </div>
                </div>
                <div class="post-content">
                    <h2><a href="@Url.Action("Check", null, new { area = string.Empty, controller = "Post", id=1 }, Request.Url.Scheme)">۷ راهکار تازه کارآفرینی در ایران اعلام شد</a></h2>
                    <p>ارزیابی شاخص جهانی کارآفرینی در ایران نشان می دهد شاخص درک فرصت های کارآفرینانه در سال قبل بهبود یافته اما ترس از شکست کسب و کار هنوز بالا است؛ با این حال ۷ راهکار برای ایجاد فضای کارآفرینی و توسعه آن ارائه شده است.</p>
                </div>
            </div>
        </div>
        <div class="blog-post">
            <div class="post-box">
                <ul class="post-tags">
                    <li>
                        <i class="fa fa-calendar-o"></i>
                        <span>10 فروردین</span>
                    </li>
                    <li>
                        <i class="fa fa-user"></i>
                        <span>مدیر</span>
                    </li>
                   
                </ul>
                <div class="post-gal">
                    <img alt="" src="~/upload/blog/2.jpg">
                    <div class="hover-post">
                        <a href="single-post.html">بیشتر بخوانید</a>
                    </div>
                </div>
                <div class="post-content">
                    <h2><a href="single-post.html">ارتقاء فروشگاه ها - دوشنبه 17 آذر</a></h2>
                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.</p>
                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.</p>
                </div>
            </div>
        </div>
        <div class="blog-post">
            <div class="post-box">
                <ul class="post-tags">
                    <li>
                        <i class="fa fa-calendar-o"></i>
                        <span>10 فروردین</span>
                    </li>
                    <li>
                        <i class="fa fa-user"></i>
                        <span>مدیر</span>
                    </li>
                  
                </ul>
                <div class="post-gal">
                    <img alt="" src="~/upload/blog/3.jpg">
                    <div class="hover-post">
                        <a href="single-post.html">بیشتر بخوانید</a>
                    </div>
                </div>
                <div class="post-content">
                    <h2><a href="single-post.html">ارتقاء فروشگاه ها - دوشنبه 17 آذر</a></h2>
                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.</p>
                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.</p>
                </div>
            </div>
        </div>
        <div class="blog-post">
            <div class="post-box">
                <ul class="post-tags">
                    <li>
                        <i class="fa fa-calendar-o"></i>
                        <span>10 فروردین</span>
                    </li>
                    <li>
                        <i class="fa fa-user"></i>
                        <span>مدیر</span>
                    </li>
                    
                </ul>
                <div class="post-gal">
                    <img alt="" src="~/upload/blog/4.jpg">
                    <div class="hover-post">
                        <a href="single-post.html">بیشتر بخوانید</a>
                    </div>
                </div>
                <div class="post-content">
                    <h2><a href="single-post.html">ارتقاء فروشگاه ها - دوشنبه 17 آذر</a></h2>
                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.</p>
                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.</p>
                </div>
            </div>
        </div>
        <div class="blog-post">
            <div class="post-box">
                <ul class="post-tags">
                    <li>
                        <i class="fa fa-calendar-o"></i>
                        <span>10 فروردین</span>
                    </li>
                    <li>
                        <i class="fa fa-user"></i>
                        <span>مدیر</span>
                    </li>
                   
                </ul>
                <div class="post-gal">
                    <img alt="" src="~/upload/blog/5.jpg">
                    <div class="hover-post">
                        <a href="single-post.html">بیشتر بخوانید</a>
                    </div>
                </div>
                <div class="post-content">
                    <h2><a href="single-post.html">ارتقاء فروشگاه ها - دوشنبه 17 آذر</a></h2>
                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.</p>
                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.</p>
                </div>
            </div>
        </div>
    </div>
    <!-- blog section -->
    <!-- pagination list
        ================================================== -->
    <ul class="pagination-list">
        <li><a class="active" href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
    </ul>
    <!-- End pagination list -->
   